:root {
  /* white */
  --primary-500: #ffffff;
  --primary-400: #f2f2f2;
  --primary-300: #e6e6e6;

  /* black */
  --secondary-500: #000000;
  --secondary-400: #333333;
  --secondary-300: #666666;

  /* blue */
  --accent-500: #0070f3;
  --accent-400: #3291ff;
  --accent-300: #66b2ff;

  /* red */
  --error-500: #ff0000;
  --error-400: #ff3333;
  --error-300: #ff6666;

  /* green */
  --success-500: #00ff00;
  --success-400: #33ff33;
  --success-300: #66ff66;

  /* yellow */
  --warning-500: #ffff00;
  --warning-400: #ffff33;
  --warning-300: #ffff66;

  /* purple */
  --purple-500: #b300ff;
  --purple-400: #cc33ff;
  --purple-300: #e680ff;

  /* pink */
  --pink-500: #ff00ff;
  --pink-400: #ff33ff;
  --pink-300: #ff66ff;

  /* orange */
  --orange-500: #ff6600;
  --orange-400: #ff8533;
  --orange-300: #ffb380;

  /* gray */
  --gray-500: #333333;
  --gray-400: #666666;
  --gray-300: #999999;
  --gray-200: #cccccc;
  --gray-100: #f2f2f2;
  --gray-50: #f9f9f9;

  /* shadow */
  --shadow-500: rgba(0, 0, 0, 0.2);
  --shadow-400: rgba(0, 0, 0, 0.14);
  --shadow-300: rgba(0, 0, 0, 0.12);

  /* border */
  --border-500: rgba(0, 0, 0, 0.2);
  --border-400: rgba(0, 0, 0, 0.14);
  --border-300: rgba(0, 0, 0, 0.12);

  /* text */
  --text-500: #333333;
  --text-400: #666666;
  --text-300: #999999;
  --text-200: #cccccc;
  --text-100: #f2f2f2;
  --text-50: #f9f9f9;

  /* background */
  --background-500: #ffffff;
  --background-400: #f2f2f2;
  --background-300: #e6e6e6;
  --background-200: #cccccc;
  --background-100: #999999;
  --background-50: #666666;
}

body {
  background-color: var(--background-500);
  color: var(--text-500);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.bg-primary-500 {
  background-color: var(--primary-500);
}
.bg-secondary-500 {
  background-color: var(--secondary-500);
}